:root {
    --bg-color-dark: rgb(25, 25, 25);
    --text-color-dark: white;
    --bg-color-light: white;
    --text-color-light: rgb(25, 25, 25);
}
body {
    font-family: 'Roboto';
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    padding: 20px;
    margin: 0;
    transition: background-color 0.4s, color 0.4s;
}
body.light-theme{
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}
body.light-theme button , body.light-theme #learn-btn, body.light-theme #play-btn{
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}
body.light-theme .top-bar{
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}
body.light-theme .top-bar .nav-links a , body.light-theme .top-bar #heading{
    color: var(--text-color-light);
}
body.light-theme .call-to-action:hover, body.light-theme #play-btn:hover , body.light-theme #learn-btn:hover , body.light-theme .toggle-theme:hover {
    background-color: rgb(55, 55, 55);
}
body.light-theme .container{
    background-color: rgba(209, 209, 209, 0.5);;
    color: var(--text-color-light);
    border: 3px solid hsla(0, 0%, 21%, 0.75);
}
#heading {
    color: var(--text-color-dark);
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.8rem;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-links {
    display: flex;
}
.nav-links a {
    color: var(--text-color-dark);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: font-size 0.3s, text-decoration 0.3s;
}
.nav-links a:hover {
    text-decoration: underline;
    font-size: 1.18rem;
}
.btn-container {
    text-align: center;
}
.call-to-action {
    background-color: white;
    color: rgb(25, 25, 25);
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}
.call-to-action:hover, #play-btn:hover , #learn-btn:hover , .toggle-theme:hover {
    background-color: rgb(200, 200, 200);
}
.container {
    background-color: rgba(52, 52, 52, 0.5);
    padding: 10px 20px;
    border: 3px solid hsla(0, 0%, 100%, 75%);
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}
footer {
    text-align: center;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
#play-btn , #learn-btn{
    background-color: white;
    color: rgb(25, 25, 25);
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin: 10px;
    transition: all 0.2s;
}
.toggle-theme {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;

    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section { 
    animation: fadeIn 0.8s ease-in-out; 
}
@keyframes fadeIn {
    from { 
        opacity: 0; transform: translateX(-30px); 
    }
    to { 
        opacity: 1; transform: translateX(0); 
    }
}
@media (max-width: 600px) {
    .top-bar {
        flex-direction: column;
    }
    .top-bar .nav-links {
        margin-top: 0px;
    }
    .top-bar a {
        font-size: 16px;
    }
    .top-bar button {
        margin-bottom: 5px;
    }
    .top-bar #heading{
        font-size: 1.5rem;
        margin-bottom: 2px;
    }
    .container p, .container li {
        font-size: 14px;
    }
    .call-to-action, .toggle-theme, #learn-btn, #play-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}